h1 {
	color: #C05640;
	text-shadow: 3px 2px 0 #EDD170;
	font-family: Georgia;
	font-size: 50px;
	text-align: center;
}

p {
	font-family: Georgia;
	font-size: 30px;
}

.grid {
	padding: 0;
    display: block;
    float: left;
    width: 25%;
}

.grid img:hover {
    transition: transform 0.5s, opacity 0.5s;
}

html, body {
	background: linear-gradient(to bottom right, #1ECFD6, #003D73);
	background-height: 200%;
}
